[2018-04-25 08:58] dustinkerstein opened #15 "Duplicate babel-polyfill error"
I use babel-polyfill in my app and this seems to cause the following error:

`only one instance of babel-polyfill is allowed`

If I remove my require(babel-polyfill) then I can get react-simple-img working, but other parts of my app break and I haven't figured out why. Is it possible to remove this dependency from react-simple-img?

[2018-04-25 09:58] dustinkerstein opened #16 "Setting rootMargin in initSimpleImg doesn't seem to have any affect"
In the global config via:

`initSimpleImg({ rootMargin: '800px 800px 800px 800px'})`

Nothing seems to change. Am I calling this incorrectly?

Thanks,
Dustin

[2018-04-25 11:40] bluebill1049 commented on #16
Hey Dustin,

Simple image use Intersection Observer for image detection.

https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

**rootMargin**
Margin around the root. Can have values similar to the CSS margin property, e.g. "10px 20px 30px 40px" (top, right, bottom, left). The values can be percentages. This set of values serves to grow or shrink each side of the root element

[2018-04-25 11:40] bluebill1049 commented on #15
Hey Dustin,

let me take a look that, i will see what i can do to solve that.

cheers
bill

[2018-04-25 16:53] dustinkerstein commented on #16
Yah, that makes sense but I just haven't been able to get it to work. Am I calling the global config correctly?

[2018-04-25 17:35] dustinkerstein commented on #16
Just played with this a little more. I can see an effect when I use something like:

`initSimpleImg({ rootMargin: '-800px 0px -800px 0px'})`

Which results in a much narrower window. But no matter how far I go in the positive direction, I can't seem to get it to load more than what is currently in view.

I now have a hunch that this is due to me using an overflow container. Do you know if it's pos

[2018-04-25 17:53] dustinkerstein opened #17 "Support for fixed size blank placeholder"
I've got things working almost perfectly, but the one thing that would really add the final touch of polish for my use-case would be the ability to get the placeholder aspect ratio correct before the image loads. In my app I can't control the individual image sizes, but I do have access to the dimensions before downloading.

I tried to implement this using a dynamically sized SVG via:

`const cust

[2018-04-26 00:05] bluebill1049 commented on #15
Hey Dustin,

please try react-simple-img@1.3.5

let me know if that's all good.

thanks

[2018-04-26 00:36] dustinkerstein commented on #15
Just gave 1.3.5 a quick try and it seems to behave the same way. Anything else I can get you as far as debug goes?

[2018-04-26 00:36] bluebill1049 commented on #17
hmmm not sure about this one mate.

[2018-04-26 02:02] bluebill1049 commented on #15
Thanks for the checking, i guess i have to do the following

[code]

[2018-04-26 02:13] dustinkerstein commented on #17
K, no worries. I'll go ahead and close this as it's definitely not an issue with react-simple-img.

[2018-04-26 02:13] #17 closed

[2018-04-26 16:40] dustinkerstein commented on #15
Nice! That seems to do the trick.

[2018-04-26 16:41] dustinkerstein opened #18 "Dependency issue installing via Yarn"
I have no issues when installing via NPM, but with Yarn I get:

[code]

Which results in this error:

`Error: Cannot find module 'prop-types'`

[2018-04-26 22:59] bluebill1049 commented on #18
i have moved prop-types out from peer dependencies 1.3.6-beta.2.

hopefully i get sometimes to upgrade with the new context API, so prop-types can be removed.

let me know if that fix your issue

[2018-04-26 22:59] bluebill1049 commented on #15
cool thanks i will close it then :)

[2018-04-26 22:59] #15 closed

[2018-04-26 23:02] bluebill1049 commented on #16
hmmm everything is driven by interaction observer API with this package 🤔 can you try to set the `threshold` to be [0]?

[2018-04-26 23:15] dustinkerstein commented on #18
Cool, will try to give this a try tomorrow.

[2018-04-27 02:50] bluebill1049 commented on #16
how about try `rootMargin: '80px 0px 80px 0px'` instead of 800px

[2018-04-27 17:45] dustinkerstein commented on #16
Same thing. Seems like I can only ever shrink the detection window with negative values.

A related issue is that iOS devices (I've so far only tested on an iPhone 5s) I can't seem to get any of the in-view images to load initially. It always requires a scroll (even the slightest triggers it). I'll submit another issue specifically for this one.

[2018-04-27 17:46] dustinkerstein opened #19 "iOS - Images don't load on initial page load until scroll"
On iOS devices (so far only tested on an iPhone 5s running iOS 11.3) I can't seem to get any of the in-view images to load initially. It always requires a scroll (even the slightest triggers it). Have you ever seen that behavior?

[2018-04-28 09:50] bluebill1049 commented on #19
i have used for my project, didn't have issue. can you try out the demo see if there is an issue

https://react-simple-img.herokuapp.com/

[2018-04-28 16:15] dustinkerstein commented on #19
Yeah, that works fine. I imagine it has to do with that same issue in #16 which I think is likely due to using an overflow div. Have you tried that?

[2018-04-30 00:15] bluebill1049 commented on #19
what do you mean overflow div? you have a link to your page?

[2018-04-30 01:11] bluebill1049 commented on #19
page looks nice :)  for ios device is using intersection observer poly-fill, because intersection observer API still under development.

https://github.com/w3c/IntersectionObserver

I reproduce the issue on my phone, is there a way you can trigger scroll event on ios device for the meantime until observer interaction is ready for iOS device with `overflow scroll`?

[2018-04-30 04:42] dustinkerstein commented on #18
I seem to get this error on the latest beta:

`Uncaught ReferenceError: regeneratorRuntime is not defined`

[2018-04-30 10:27] bluebill1049 commented on #18
what about 1.3.6?

[2018-04-30 18:32] dustinkerstein commented on #18
What's the tag name for that? I think I tried the latest beta.

[2018-05-01 00:58] bluebill1049 commented on #18
that's latest version mate. 1.3.6 no beta

[2018-05-01 00:59] dustinkerstein commented on #18
Is it in both npm and Yarn repos?

[2018-05-01 02:34] bluebill1049 commented on #18
yea

[2018-05-01 16:05] dustinkerstein commented on #18
This is what I see in when adding via Yarn:

![image](https://user-images.githubusercontent.com/7659306/39480987-c6c03840-4d1e-11e8-8e01-ef740f012e2a.png)

Do you mean the beta2?

[2018-05-02 22:56] bluebill1049 commented on #18
Hmm I will

[2018-05-03 01:00] bluebill1049 commented on #18
closed by accident, forgot to publish 1.3.6

[2018-05-03 01:02] bluebill1049 commented on #18
your issue could be babel polyfill version
this is the version i have in react simple img:    "babel-polyfill": "^6.26.0"
made it peer dependency. hope this will resolve the issue.

[2018-05-03 06:32] dustinkerstein commented on #18
Just upgraded to 1.3.7 and looking good so far. Thanks!

[2018-05-03 06:32] #18 closed

[2018-05-08 06:58] #19 closed

[2018-05-08 06:58] #16 closed

[2018-05-09 15:30] dustinkerstein commented on #16
Were you ever able to replicate this on a div with overflow: scroll?

[2018-06-18 17:07] letops opened #21 "Edge and older browsers support"
First of all, thank you for building this library, I have been using it for a while now, and I just love it. My only issue is that I haven't been able to run it inside Edge (which leads me to believe that IE11 might have the same issue).

We made the following site: [TrueHome](https://www.truehome.com.mx/propiedades/pachuca-87-departamento-207-condesa/), and we can display all the images without a

[2018-06-19 01:59] bluebill1049 commented on #21
wow awesome!! good job on the site, hmmm i haven't tested on Edge and IE 11... cause i am a mac boy hahaha. i will test it out next couple days and let you know.

[2018-06-20 19:38] letops commented on #21
Thank you so much for the quick response. My guess is that the issue is related to the IntersectionObserver, but I haven't been able to give it a look yet.
If you need anything from me, just let me know and thanks again, man!!

[2018-06-21 06:23] bluebill1049 commented on #21
No worries mate, we are stop supporting on IE 11. but our tester have tested our website under IE 11 and Edge. looks fine with the image lazy loading. you can take a look as well [link here](https://www.qantasassure.com/).

For your case, maybe disable placeholder for IE 11 and edge? let me know if that solve the issue.

[2018-06-28 00:10] bluebill1049 commented on #21
hey @letops how did you with it?

[2018-07-02 19:20] letops commented on #21
Sorry I haven't been able to respond.
I haven't had the time to find a solution for this, and the client requested us to put it on hold and include the library in a later version, but thank you so much for trying. I'll let you know if I find something else.
Cheers mate!!!

[2018-07-06 04:55] bluebill1049 commented on #21
thanks @letops 👍

[2018-07-11 04:16] johnpaulada opened #22 "regeneratorRuntime not found"
I'm encountering a "regeneratorRuntime not found" when I'm importing the library on a create react app project. I'm currently using version 1.3.12.

[2018-07-11 04:28] bluebill1049 commented on #22
hey john,

I use create react app as well. you want to check out the example in the meantime? https://github.com/bluebill1049/react-simple-img/tree/master/example

i can take a look your issue later this week. thanks

[2018-07-11 05:47] johnpaulada commented on #22
I'll check it out. Thanks!

[2018-07-11 06:08] johnpaulada commented on #22
Apparently it's still okay up until 1.3.5. When I use 1.3.6, it displays the regeneratorRuntime error.

[2018-07-11 07:00] bluebill1049 commented on #22
yea man i will sort it out. probably going to remove babel-polyfill all together in this package.

[2018-07-11 10:58] bluebill1049 commented on #22
react-simple-img@1.3.13 fixed 👍

[2018-07-11 11:08] johnpaulada commented on #22
Already did. 😄
Awesome! I'll try it out as soon as I can. Thanks for the hard work! 🎉

[2018-07-12 00:07] bluebill1049 commented on #22
haha thank you mate! :)

[2018-07-30 15:14] millette opened #26 "Isomorphic/universel js"
I tried to build a site with Gatsby v2 (React static site generator). While it worked in dev, came build time I had an error because of ```window``` being undefined (server-side).

There was an easy workaround:

[code]

**UPDATE**: my workaround was too simple. It only works if I load the page directly, not if I load another page first and then navigate to my page with lazy loaded images. Although

[2018-07-30 16:25] millette opened #27 "Example with multiple components"
I tried a few things to get it working, but I'm not there yet (see #26).

## Example

I have a ```Page``` (component) and another component representing a ```User```. The  ```Page``` will show a colleciton of ```User``` components.

If I add the following to ```Page.js```

[code]

And in ```User.js``` I use props.SimpleImg, the images are never updated, only the placeholder is shown.

[2018-07-30 16:51] millette commented on #27
I tried with ```initSimpleImg()``` running top-level in ```Page.js``` and separately in ```User.js```. It works perfectly using Gatsby v2 in dev, but when I build it, the images only update if I start on ```Page```, not if I first load another page.

[2018-07-31 00:12] bluebill1049 commented on #26
hey @millette,

Can you call `initSimpleImg` at client entry file (eg. index.js where you call `ReactDOM.render()`)?

thanks

[2018-07-31 00:24] bluebill1049 commented on #26
yes interested your patch to support client/server! ❤️

[2018-07-31 00:26] bluebill1049 commented on #27
I will take a look the `provider` issue soon over the weekend. To be honest i probably need to update the context API too.

[2018-07-31 16:01] millette commented on #26
Hmm, after digging around a bit, I can't promise anything right now. It's my first real Gatsby project (with v2, in beta) and I'm not exactly sure how the pieces fit. Also, I have to finish my project soon (first).

[2018-07-31 23:52] bluebill1049 commented on #26
no worries @millette i will take a look the provider issue over the weekend anyhow. cheers

[2018-08-05 01:29] bluebill1049 commented on #27
Hi @millette i have updated with a patch to fix the provider bug :)

[2018-08-05 01:48] yusinto commented on #27
Nice work thank you

On Sun, 5 Aug 2018 at 11:29 am, Bill <notifications@github.com> wrote:

[2018-08-06 12:31] millette commented on #27
Don't worry too much about my comments, as I said, I'm just getting started with Gatsby and my React Fu isn't the greatest either. Also, I found out gatsby has it's own image lazy loader, but I'm not 100% sure it would be effective in my case.

I found using your component to be very simple and effective. For instance, this turned out rather well: <https://rollo-venezuela-wtmknramwg.now.sh/> :-)

[2018-08-07 00:00] bluebill1049 commented on #27
hey @millette,

lovely demo! i am glad it worked for you! i checked your code for working on per component you probably should use `provider`. but if it worked for you with previous patch, that's all it matters. 😄

thanks
bill

[2018-08-07 00:00] bluebill1049 commented on #26
i will make a patch on this soon as well 🙏 thanks for reporting.

[2018-08-11 00:00] bluebill1049 commented on #27
ok i have made a new patch this should be fixed now (1.3.16), going to close the issue in the next couple days, if nothing reports :) thanks

[2018-08-11 00:01] bluebill1049 commented on #26
ok i have updated the `initSimpleImg()` method to be run only on the server. issue will be closed in the next couple days, if no issue reports :)

[2018-08-11 00:09] millette commented on #27
Looking good on my end. As I mentionned, last patch broke it for me, but with this one, my project works again. Thanks!

P.S.: I will eventually revisit my code to make proper use of ```provider```.

[2018-08-11 00:33] millette commented on #26
I was able to remove my ```typeof window``` workaround, thanks again :-)

Taking the liberty to close this issue as it's easier to understand.

[2018-08-11 00:33] #26 closed

[2018-08-11 06:43] bluebill1049 commented on #27
👍 thanks @millette

[2018-08-11 06:43] #27 closed

[2018-09-29 09:07] davidfurlong opened #30 "Unhandled promise rejection error"
This library is throwing unhandled promise rejection errors - I suspect possibly here when image loading fails: https://github.com/bluebill1049/react-simple-img/blob/4599a9b5e6d735749fa85169aa7d31d1579e6054/src/utils/fetchImage.js#L4

[code]

[2018-09-29 09:17] davidfurlong opened #31 "Flashing image in wrong position"
Looking for advice whether this is us using this library wrong or a bug

![ezgif-4-ab31add942](https://user-images.githubusercontent.com/614768/46243915-1b693780-c3d9-11e8-993b-f00540b554d1.gif)

[2018-09-29 10:27] bluebill1049 commented on #30
This happens when images loading fails, i will investigate why this is happening.

[2018-09-29 10:29] bluebill1049 commented on #31
what's your placeholder? image or background colour?

if the issue was caused by placeholder styled, you could use `imgClassName` prop.

if not please paste your code here and i will take a look 👍

[2018-09-29 10:57] bluebill1049 commented on #30
looks like image src tag is empty, i have fixed the `Unhandled promise rejection error`. will be release on the next patch include your PR.

[2018-10-02 11:16] bluebill1049 commented on #30
This should be resolved by the latest patch

[2018-10-02 11:41] davidfurlong commented on #30
Unfortunately I dont think this has fixed the problem. I'm getting a

[code]

On Tue, Oct 2, 2018 at 1:16 PM Bill <notifications@github.com> wrote:

[2018-10-02 21:57] bluebill1049 commented on #30
@davidfurlong do you know how to reproduce this issue?

[2018-10-03 01:05] bluebill1049 commented on #30
right now if the image fetch failed will throw an Error, i am thinking of changing it into `console.error`

[2018-10-03 07:07] davidfurlong commented on #30
Right so I think that's the issue I'm experiencing. I'm not sure throwing
an error on image fetch fail is the best practice, as its not really
possible for me to catch the error implementing the library. Perhaps there
should be a prop onFetchFailed or something so the implementer can manually
retry, show a placeholder or handle it themselves

On Wed, Oct 3, 2018 at 3:05 AM Bill <notifications@gith

[2018-10-03 10:56] bluebill1049 commented on #30
sounds good to me i will change console.error for the next path, and will looking into the suggestion you have replied.

[2018-10-03 11:00] bluebill1049 commented on #30
https://github.com/bluebill1049/react-simple-img/releases/tag/v1.4.3

[2018-10-09 08:43] davidfurlong commented on #31
My bad, I'll take a look at your suggestions

[2018-10-24 12:57] aeciolevy opened #33 "Placeholder load different size of image and different place"
Hi, Blue I am using SimpleImg, but when I wanna load an image with a specific size, it loads the placeholder in a different place with a different size.
This is the wrapper.
[code]

And usage

[code]
![react_image](https://user-images.githubusercontent.com/16165803/47431822-a546bf00-d751-11e8-80b3-e1346d70d1f5.gif)

[2018-10-24 13:18] aeciolevy commented on #33
The way that I could solve was checking if there is a height, I should override the common style with the height:

[code]

Let me know if can be a fixed and if I should submit a PR.
Thanks

[2018-10-25 10:58] Tailzip opened #34 "Issue with react-router"
Hi,

I'm using both `react-router` and `react-simple-img` in my project.

When I'm navigating from a page to another that have `<SimpleImg />` component(s) wrapped within a `<SimpleImgProvider />`, it breaks (blank page).

I'm getting the following error in the console: `TypeError: window.__REACT_SIMPLE_IMG__ is undefined`.

Any thoughts how to fix that? Thanks!

[2018-10-25 12:05] Tailzip commented on #34
Actually, when building a small app using `create-react-app` to replicate the issue, it is working. So I guess it has something to do with other dependencies on my project or my setup. Closing it for now, sorry for the inconvenience 😅

[2018-10-25 12:05] #34 closed

[2018-10-26 23:14] aeciolevy opened #35 "Break when using Route"
Hi Bill,

I am having problem while using react-simple-img:

[code]

If I redirect from another page to the one that I am using simple-img throw this error.

[2018-10-30 22:17] bluebill1049 commented on #35
Hi @aeciolevy ,

can you take a look what's in the window object after route change?

`window.__REACT_SIMPLE_IMG__`

[2018-10-30 22:18] aeciolevy commented on #35
I printed out the Window but there is just the REDUX constants... nothing with REACT_SIMPLE_IMG...

[2018-10-30 22:23] bluebill1049 commented on #33
Wow nice you are using suspense already ❤️ !
There is a `imgClassName` prop, but looks like you are using inline style. maybe i can have an inline style prop to overwrite my default common style.

eg.

`placeHolderStyle`
`imgStyle`

i can probably working on that over the weekend.

[2018-10-30 22:24] bluebill1049 commented on #35
oh i see you are using the `provider`, i will have to take a look on this issue, will get back to you.

[2018-10-30 22:26] bluebill1049 commented on #35
what about try `initSimpleImg();`  without the provider for now?

[2018-10-31 12:02] aeciolevy commented on #35
Hi Bill,

I have not tested with initSimpleImg(). I can test it today.

I am using react-router 4.

I tried to lazy load in a Modal, it also breaks.

[2018-10-31 20:10] bluebill1049 commented on #35
thanks @aeciolevy i will test it out over the weekend 👍

[2018-11-01 03:59] bluebill1049 commented on #33
actually inline Style is probably not best solution, it's better keep at the classname level, especially due to media query with different breakpoints. can you try out with `imgClassName` with css?

[2018-11-01 09:07] bluebill1049 commented on #35
Hi @aeciolevy ,

i have made a patch and fixed the issue. please upgrade 👍

here is a working version with react router

https://codesandbox.io/s/z322vzlv83

cheers
bill ❤️

[2018-11-01 16:40] aeciolevy commented on #35
Awesome. I will test it out. Thanks.

[2018-11-02 11:29] bluebill1049 commented on #33
hey @aeciolevy,

i think i have nailed it on 1.4.5, upgrade and let me know if that works for you.

thanks
bill

[2018-11-06 13:18] aeciolevy commented on #33
Hey Bill,
It is working... Thanks!!!!

[2018-11-07 06:55] #33 closed

[2018-11-07 06:55] bluebill1049 commented on #35
any luck on this one @aeciolevy ?

[2018-11-07 10:49] aeciolevy commented on #35
it worked! Thanks!

[2018-11-07 19:44] #35 closed

[2018-11-09 08:47] davidfurlong commented on #30
Hey Bill, sorry for the delay.
The error is now logged into the console, which is not ideal for production apps either.
My main issue is that is seems to occur when the load hasn't failed, and the error is empty.
An example:
[code]

[2018-11-09 20:48] bluebill1049 commented on #30
hi @davidfurlong,

i have reproduced the error in production, this will happen when routes change and images not finished loading. in terms of empty error message, i haven't seem that before. (`srcSet` is not required.)

how many of those empty errors do you get in prod? how often does that happens. if it's due to route change then it's fine, i will take a look in the meantime.

[2018-11-12 13:42] davidfurlong commented on #30
Yeah `when routes change and images not finished loading` sounds likely to be causing this for us then. Thanks for looking into it!

[2018-11-12 23:03] bluebill1049 commented on #30
hey @davidfurlong, so the error message is always empty object? can you share more error logs? I can look into it bit more. 👍

[2018-11-20 00:15] #30 closed

[2019-01-09 08:13] k-prashant opened #36 "Support for custom options"
How should we add  `crossorigin="anonymous"` ?

[2019-01-09 08:36] bluebill1049 commented on #36
If you have time you can do a PR.
https://github.com/bluebill1049/react-simple-img/blob/master/src/simpleImg.js

otherwise i will allow any custom options on the next path over the weekend.

[2019-01-09 09:09] k-prashant commented on #36
won't be possible for me, can you please do it, whenever possible.

[2019-01-09 21:21] bluebill1049 commented on #36
sure i will get a patch over the weekend.

[2019-01-10 02:03] bluebill1049 commented on #36
i have published a beta version, could you please test it out `react-simple-img@1.4.6-beta.1`?

and PR is here, if you want to take a look
https://github.com/bluebill1049/react-simple-img/pull/37

[2019-01-10 10:04] k-prashant commented on #36
Added a [comment](https://github.com/bluebill1049/react-simple-img/pull/37#issuecomment-452985082).

[2019-01-11 11:12] bluebill1049 commented on #36
resolved by https://github.com/bluebill1049/react-simple-img/releases/tag/v1.5.1

[2019-01-11 11:40] #36 closed

[2019-02-01 00:31] bar0191 opened #39 "animationDuration not working"
Hello! Awesome component. I noticed however that the animation transition doesn't seem to be working, I install react-simple-animation as well to see if that would fix it. But still got nothing.

Anyone else had this issue?

[2019-02-01 00:32] bluebill1049 commented on #39
Thanks heaps :) @bar0191 which version you have right? i had fixed a bug couple days ago with a patch.

[2019-02-01 00:33] bluebill1049 commented on #39
do you mean duration or just the animation is completely not working at all?

[2019-02-01 00:35] bar0191 commented on #39
it seems like the animation just isn't working at all, the placeholder will flash out, and I set the animationDuration to something high like 10s and noticed it didn't work.

I'm on version 1.5.4

[2019-02-01 00:36] bluebill1049 commented on #39
try 1.5.4 i have fixed it ❤️

[2019-02-01 00:37] bluebill1049 commented on #39
hmmm... can i have a look at your code snippet?

[2019-02-01 00:52] bar0191 commented on #39
sooo with a little more testing, the component is fine! It's a HOC I have wrapped around the image component that's making the animation not trigger

[2019-02-01 01:10] bar0191 commented on #39
Closing this since it looks like I just had to fix some css issues. Sorry for the troubles!

[2019-02-01 01:10] #39 closed

[2019-02-01 01:49] bluebill1049 commented on #39
haha no worries 👍

[2019-02-19 03:27] luweiCN opened #41 "Does this support React Native"

[2019-02-19 03:59] bluebill1049 commented on #41
what a great idea for next feature, i will looking into that. 👍

[2019-02-19 17:16] humbertqz opened #42 "Img width: 100% height: auto"
Is there a way to use the component without the wrapping div with flexbox styling and fixed height?

I'm using in the img tag width: 100%; height: auto; to make my image responsive.

[2019-02-19 21:20] dima-f1 commented on #30
Man, I can't understand why are you log errors to browser console, especially with content like this:

`
💩 Fetch image failed with target
<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="" data-src="https://randomfileimage.jpeg" style="visibility: hidden;">
and error message {
  "isTrusted": true
}
`

Thats really annoying and makes this library not production ready. I

[2019-02-19 22:49] bluebill1049 commented on #42
The `div` is made for the placeholder animation, because you have the actual image and placeholder wrapped inside.

There are two solutions:

1. provide img `width` and `height` and apply `applyAspectRatio`
2. i will have to create a minor version, by supply `placeholder` = `false`, which will remove placeholder and the wrapping `div`, plus you will lost the animation from the placeholder.

let me

[2019-02-19 22:57] humbertqz commented on #42
Maybe that could be a feature?

Remove everything but the img tag.

[2019-02-19 23:24] bluebill1049 commented on #42
sure i can looking into that over the weekend :) but you lost beautiful animation 👍

[2019-02-19 23:29] humbertqz commented on #42
Nice, thanks. 😄

[2019-02-20 06:01] bluebill1049 commented on #42
Could you please help on testing? `react-simple-img@1.14.0-beta.1`

[2019-02-20 15:35] humbertqz commented on #42
Yes!, but i never used a beta repo, how can i download it? I was using the component in a GatsbyJs project.

[2019-02-20 20:36] bluebill1049 commented on #42
just `yarn add react-simple-img@1.14.0-beta.1` or `npm i react-simple-img@1.14.0-beta.1`. i did testing with my own demo and it works, just want to double check with yours before publishing.

[2019-02-21 06:44] humbertqz commented on #42
Yes, it works this is my component:

`<SimpleImg height={440} src={this.props.imgsrc} placeholder={false} />`

This is what is rendered:

`<img src="/static/thumb-plaza-cataluna-6106ec93376385a64fbf1cd99450ec09.jpg" srcset="" data-placeholder="false" data-src="/static/thumb-plaza-cataluna-6106ec93376385a64fbf1cd99450ec09.jpg" height="440" style="transition: all 0.3s ease 0s; opacity: 0; visibility

[2019-02-21 08:06] bluebill1049 commented on #42
i will make it so you can use `style` to overwrite it.

[2019-02-21 08:55] bluebill1049 commented on #42
try this version react-simple-img@1.14.0-beta.2, thanks for testing.

[2019-02-21 09:12] bluebill1049 commented on #42
thanks for the testing! i forgot to set opacity back to 1 for the animation :(

try this version react-simple-img@1.14.0-beta.3

should only render <img /> and animate when finished loading

[2019-02-21 11:24] JaeYeopHan opened #46 "[Request] How about adding `event hook` to SimpleImg element?"
## Description

like this:

[code]

### Why?

If need to restore scroll, have to know timing that image loaded.

### Reference

- https://github.com/hilongjw/vue-lazyload#event-hook

[2019-02-21 11:44] bluebill1049 commented on #46
hey @JaeYeopHan,

Yes can be done, probably will be the next minor update. I am working one of the issue at the moment.

cheers
bill

[2019-02-21 12:03] JaeYeopHan commented on #46
`onComplete` is awesome! Thanks!

[2019-02-21 15:12] humbertqz commented on #42
It's working this is the rendered element:

`<img src="/static/thumb-plaza-cataluna-6106ec93376385a64fbf1cd99450ec09.jpg" srcset="" data-placeholder="false" data-src="/static/thumb-plaza-cataluna-6106ec93376385a64fbf1cd99450ec09.jpg" data-end-style="opacity:0;" style="transition: all 0.3s ease 0s; opacity: 1; visibility: visible;">`

[2019-02-21 20:32] bluebill1049 commented on #42
thanks @humbertqz will publish today! thank you for your testing ❤️

[2019-02-21 20:33] bluebill1049 commented on #46
👍 will try to work this over the weekend

[2019-02-21 22:54] bluebill1049 commented on #42
v1.14.0 released, i will close the issue. feel free to re-open if you find other issues 👍

[2019-02-21 22:54] #42 closed

[2019-02-22 10:21] bluebill1049 commented on #46
want to try this beta version and test?

`react-simple-img@2.0.0-beta.2`

`onComplete` is the prop name

[2019-02-23 10:42] bluebill1049 commented on #46
The have been baked in the latest release, with onComplete props. feel free to re-open if you found issue.

[2019-02-23 10:42] #46 closed

[2019-03-03 11:01] tom76kimo opened #48 "Doesn't support under react 16.3"
Since using `React.createRef` [here](https://github.com/bluebill1049/react-simple-img/blob/master/src/simpleImg.js#L31) and it's only provided from react 16.3. We should either remove this or update `peerDependency` in `package.json`

[2019-03-03 20:26] bluebill1049 commented on #48
thank you @tom76kimo i have updated the `package.json` 👍

[2019-03-04 03:01] tom76kimo commented on #48
Great! thanks

[2019-03-04 03:01] #48 closed

[2019-03-24 07:52] bluebill1049 commented on #30
sorry just saw this message, i will fix that in the next patch.

[2019-03-24 08:12] bluebill1049 commented on #41
after some investigation looks like its not as straight forward as browser, especially there is no intersection observer at native level and involves with ScrollView. I am going to close it for now, until i have better idea in the future. thanks

[2019-03-24 08:12] #41 closed

[2019-03-29 17:39] rhernand3z opened #49 "SSR App: Seeing React Warning "Extra attributes from the server: data-from-server""
Hi,

First of all want to thank you for this great component 🥇. The issue I am seeing is when using this component in a isomorphic application, I am seeing this **warning** in console.

`Warning: Extra attributes from the server: data-from-server`

Inspecting the DOM for the component reveals `data-from-server=yes`. Looks like the warning comes from the React hydrate method when there as mismatch

[2019-03-29 18:07] rhernand3z commented on #49
Thanks for the quick turnaround, will be on the lookout once the PR is merged.

[2019-03-29 21:55] bluebill1049 commented on #49
thanks @rhernand3z for reporting the issue ❤️  and @revskill10 for the fix 🙏.

i am re-open this issue, until you have tested and working.

react-simple-img@2.1.6

[2019-03-30 08:00] Argeare5 opened #51 "Doesn't work in IE"
Error in IE:
"The object does not support the "startsWith" property or method."
How can I fix this without changing your code?

[2019-03-30 08:06] bluebill1049 commented on #51
Which IE version?

[2019-03-30 08:20] bluebill1049 commented on #51
i am happy to change startWidth to indexOf, but depend on which version of IE. it may not work as well as modern browsers.

[2019-03-30 09:19] Argeare5 commented on #51
IE 11
startWidth not support in all IE versions
maybe polyfill will help?
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith#Polyfill

[2019-03-30 09:26] bluebill1049 commented on #51
i have updated the code to use `indexOf` instead of `startsWith`

https://github.com/bluebill1049/react-simple-img/releases/tag/2.1.7

would you mind to star the repo to support this package?  :) (if not no hard feeling too) thanks

[2019-03-30 09:50] revskill10 commented on #49
@bluebill1049 This is, to me a temporary fix.
True fix will be like this:
The component will have `isServer` attribute default to false.
So on running, the `isServer` is get from a global context. On server, it will be `true`, on client when hydrating, it'll set to be `false`.
How do you think ?

[2019-03-30 09:57] Argeare5 commented on #51
Oh thanks. Now it works in IE! Of course I put a star. I really liked this package, it is easy to use :).
Thanks for the quick fix.

[2019-03-30 09:59] #51 closed

[2019-03-30 10:02] bluebill1049 commented on #49
hey @revskill10,

thanks for you suggestion and contribution. i think as long as your fix will resolve the server/client mis-match, then we are good. keep it simple and beautiful 👍

cheers
bill

[2019-03-30 10:03] bluebill1049 commented on #51
thank you heaps @Argeare5 for the star and report the issue 🙏

[2019-04-02 03:55] bluebill1049 commented on #49
@rhernand3z is the issue got resolved?

[2019-04-02 17:54] rhernand3z commented on #49
@bluebill1049 it is good to go! thanks @revskill10 ⚔️

[2019-04-02 21:59] #49 closed

[2019-04-06 10:32] stpwin opened #52 "Image not update when state changed"
`<SimpleImg height={300} src={this.state.uploadedUrl} />`

when this.state.uploadedUrl change image not updated.

[2019-04-06 10:39] bluebill1049 commented on #52
when are you changing the `src`? image already in the viewport or hasn't intersected?

[2019-04-06 10:44] stpwin commented on #52
when I called function
[code]

[2019-04-07 05:33] bluebill1049 commented on #52
so you want to change the image url after it's been lazy loaded?

[2019-04-07 05:47] stpwin commented on #52
Yes I do.
I want to change src when I uploaded new profile picture.

[2019-04-07 06:07] bluebill1049 commented on #52
how about this approach:

https://codesandbox.io/s/6z3lx27p5z

[2019-04-07 06:17] stpwin commented on #52
Thank you!

[2019-04-07 06:17] #52 closed

[2019-04-07 06:36] bluebill1049 commented on #52
please kindly leave a star if you find the package useful. many thanks :)

[2019-04-07 10:08] neighborhood999 opened #53 "SSR: Prop `data-from-server` did not match"
Hi!

First, thanks for you create this awesome react component. I use this component in my next.js application and I got some error:

I reproduce this error on the [Codesandbox](https://codesandbox.io/s/km36r3rmm7), please toggle to the `Console` to check this error message.

Thank you & Have a good day.

[2019-04-07 20:25] bluebill1049 commented on #53
Hey~!

Thank you for you kind words 🙏🏻i think i may have to remove this data-from-server logic... i will let you know, if i have an update on that.

Thanks for reporting the issue ❤️

many thanks
bill

[2019-04-07 20:57] bluebill1049 commented on #53
hey

i have removed the data-from-server.

https://github.com/bluebill1049/react-simple-img/releases/tag/v2.1.8

let me know if that have resolved your issue.

many thanks
bill

[2019-04-08 01:07] neighborhood999 commented on #53
Hey @bluebill1049, thank you for quick fix issue, I updated the package and issue be fixed, thank you.

[2019-04-08 01:07] #53 closed

[2019-04-08 02:18] bluebill1049 commented on #53
謝謝 ❤️

[2019-04-19 15:19] kyle-mccarthy opened #54 "Number.isNaN not supported in IE11"
**Describe the bug**
Number.isNaN is not supported in IE11 but is used it https://github.com/bluebill1049/react-simple-img/blob/master/src/utils/getAspectRatio.js#L13

**Expected behavior**
Polyfill Number.isNaN or use alternative strategy

**Desktop (please complete the following information):**
 - Browser [e.g. chrome, safari] IE 11

[2019-04-19 22:30] bluebill1049 commented on #54
thanks for reporting :) https://github.com/bluebill1049/react-simple-img/releases/tag/v2.1.9

[2019-04-22 15:34] kyle-mccarthy commented on #54
Thanks for resolving this so quickly! The new version resolves the problem.

[2019-04-22 15:34] #54 closed

[2019-04-22 22:17] bluebill1049 commented on #54
no worries :) please leave a star if u find this useful and support this component  ❤️

[2019-04-22 23:01] bluebill1049 commented on #54
thank you for the star and support ❤️

[2019-05-02 02:22] neighborhood999 opened #55 "Image can't be loaded on FireFox"
![Kapture 2019-05-02 at 10 13 32](https://user-images.githubusercontent.com/10325111/57053854-50b56b00-6cc3-11e9-803e-b4639392f862.gif)

On FireFox(66.0.3), I scroll window and image can't be loaded. Not sure what happen, but on the Chrome works fine.

I'm not sure this problem is come from image source, because unsplash's image URL like `https://source.unsplash.com/collection/61/800x400` without

[2019-05-02 02:39] bluebill1049 commented on #55
can you take a look at the network tab? it works for me, I am using some free image service, images may come a bit slow.

[2019-05-02 02:48] neighborhood999 commented on #55
![Kapture 2019-05-02 at 10 46 21](https://user-images.githubusercontent.com/10325111/57054527-ad1a8980-6cc7-11e9-9533-6dbacfd02a6b.gif)

That's weird, images didn't be fetched.

[2019-05-02 02:52] bluebill1049 commented on #55
hmmmm... strange

[2019-05-02 02:55] neighborhood999 commented on #55
I reinstall my Firefox and try again. Thank you for quick reply @bluebill1049.

[2019-05-02 02:55] #55 closed

[2019-05-02 02:59] bluebill1049 commented on #55
![ezgif-2-6065635c5db7](https://user-images.githubusercontent.com/10513364/57054792-1efbce80-6cda-11e9-8546-d5a64bc8b815.gif)
should be ok tried mine here, let meknow if there still issues

[2019-05-02 03:04] neighborhood999 commented on #55
<img width="1552" alt="螢幕快照 2019-05-02 上午11 02 58" src="https://user-images.githubusercontent.com/10325111/57054888-f8359c00-6cc9-11e9-832f-06b805d8be8f.png">

I can sure this problem it's come from extension! All works fine for me now. XD

[2019-05-02 03:27] bluebill1049 commented on #55
谢谢了 哈

[2019-05-14 11:02] Alfrex92 opened #56 "Support for SEO (no script tag)"
This package is extremely easy to use and it works perfectly. But, there is one big problem it is not compatible with SEO. What is necessary to give support to SEO is a `<noscript>` tag below the img.

**Describe the solution you'd like**

Add the no script tag below the img
As an example:
[code]

**Additional context**
Note: the ALT attribute should be also in the noscript tag

You can find more

[2019-05-14 11:06] bluebill1049 commented on #56
hey @Alfrex92,

Thanks for report the issue ❤️

it depend on your app weather is server-side render or not? if it's client-side rendering then probably you would only see `<noscript />` content under browser source (for entire app). if you have SSR support then it should render out the `<img />` with `alt` tag.

let me know if this makes sense?

cheers
bill

[2019-05-15 10:41] Alfrex92 commented on #56
I'm using SSR so I'd love if you can add the noscript tag below the img.

Also, I found a performance issue on the CSS

Instead of using
`    transition: all 0.3s ease 0s;`

You need to apply the transition to the property that you are being animated, in this case is opacity. So the code should be

`    transition: opacity 0.3s ease 0s;`

More info: https://stackoverflow.com/questions/8947441/css3

[2019-05-15 11:01] bluebill1049 commented on #56
Thanks for reporting `transition` bit.

I have included `noscript` for each image, in the following version please test it out

2.2.0-beta.1

[2019-05-15 12:27] Alfrex92 commented on #56
I don't see the commit, where can I download the latest version?

Thanks

[2019-05-15 12:43] bluebill1049 commented on #56
you can just do this

`yarn add react-simple-img@2.2.0-beta.1`
`npm i react-simple-img@2.2.0-beta.1`

I will need some testing tmr, once everything works well on yours and my end, I will publish the version.

thanks
bill

[2019-05-16 03:25] alfred-pb commented on #56
i can't install the new version, but it shouldn't be any problem. Hope you can publish it soon 😄

[2019-05-16 03:25] Alfrex92 commented on #56
i can't install the new version, but it shouldn't be any error with the library. Hope you can publish it soon 😄

[2019-05-16 03:44] bluebill1049 commented on #56
react-simple-img@2.2.0 published

[2019-05-16 06:46] Alfrex92 commented on #56
it is working, thank you 😄

(I tested with NextJS)

[2019-05-16 06:50] bluebill1049 commented on #56
nice thanks, please leave star to the repo if you find it useful to support this package  (if you already, thanks again) 🙏

[2019-05-16 11:05] #56 closed

[2019-05-24 10:45] Alfrex92 opened #57 "Inline CSS is stretching images"
Hi, in our company we have been using your library and it is working perfectly.

However, we noticed that the inline CSS is stretching the images.

![squeeze-img](https://user-images.githubusercontent.com/22891582/58322497-12434400-7e5c-11e9-94b1-d649cd366f4c.png)

We wrote the css that you need to add in order to avoid this problem.

So, instead of using this
[code]

You need to add this

[code]

[2019-05-25 07:44] bluebill1049 commented on #57
hey,

can you try with `applyAspectRatio`?

[2019-05-26 09:01] Alfrex92 commented on #57
Yes, that's the prop that I'm using.

[2019-05-26 23:29] bluebill1049 commented on #57
oh ok, did you supply image `width` and `height` when you are using `applyAspectRatio`? For aspect ratio to work, it required to having image `width` and `height`.

Yea, I think I can expose an image style prop, so you can apply your own style.

[2019-05-27 09:02] Alfrex92 commented on #57
Thanks for your quick response. Yes, I added the width and height when using applyAspectRatio. The library is working perfect. The CSS is what needs improvement.

You can add replace the code for this:

[code]

Yess, it would be awesome if you can expose the style :D

[2019-05-27 09:33] bluebill1049 commented on #57
I will expose the style for you, I will work on it this week.

[2019-05-29 08:43] bluebill1049 commented on #57
can you try with `style` prop? looks like in my code accept style attribute.

`<SimpleImg style={style}} />`

[2019-05-29 08:47] bluebill1049 commented on #57
https://github.com/bluebill1049/react-simple-img/releases/tag/v2.3.0

you can try with `imgStyle`

[2019-05-29 09:11] Alfrex92 commented on #57
Hi, thanks for adding the new feature.

How can I use it?

like this?

[code]

[2019-05-29 09:46] bluebill1049 commented on #57
Yes

[2019-05-29 09:55] Alfrex92 commented on #57
It's not working :S

https://codesandbox.io/s/lazyloadingsimplereactimg-58kwy

[2019-05-29 10:08] bluebill1049 commented on #57
https://codesandbox.io/s/lazyloadingsimplereactimg-zpcvg
fixed
react-simple-img@2.3.1

[2019-05-30 12:10] bluebill1049 commented on #57
Hey,

Did you take another look?  please close the issue if its resolved

thanks
bill

[2019-05-31 23:02] #57 closed

[2019-06-19 17:31] kmcaloon opened #64 "Image src not updated when component rerenders"
I have a filter which sorts through a list of data and renders components based on the selected value. Each component has a lazy image. When the page first loads and all of the components display their images load fine.  But once I use the filter the components rerender with the placeholder images without the src updating. Am I missing an easy solution for this?

[2019-06-19 23:30] bluebill1049 commented on #64
hi @kmcaloon,

I don't think to react simple img sort filter or change src, because all images have to be registered into intersection observer when page load. You may have to switch back to `img` tag when you want to set the src tag dynamically.

[2019-06-22 00:08] #64 closed

[2019-06-22 19:14] kmcaloon commented on #64
Thanks, I firgured as much and came up with the following using a simple hook to make sure the full res image always shows after the component has originally mounted:

[code]

[2019-06-22 22:21] bluebill1049 commented on #64
nice one :)

[2019-07-18 03:09] alfred-pb opened #69 "Fallback/default img when img url is not valid"
**Is your feature request related to a problem? Please describe.**
Hi, there are some situations when the img url is invalid and it would great to handle those errors.

**Describe the solution you'd like**
Add the onerror props to
 `<SimpleImg
onerror={}
/>`

For example:

`<img src="invalid_link" onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';">
`
The above means that

[2019-07-18 03:13] bluebill1049 commented on #69
Hi @alfred-pb,

ideally, we should haven't invalid image URL in the first place. I think even more native <img /> tag, it just displays error image too.

can you write a function/Component to validate the image URL instead? you can write a component to wrap around the <SimpleImg /> to validate the image.

<ValidSimpleImg /> and have <SimgpleImg /> inside of it.

let me know you thoughts

cheers
bi

[2019-07-18 09:16] ajisulist commented on #69
What if user failed to load the image. the url is valid but the image failed to load because of cdn down or connection lost

[2019-07-18 09:30] bluebill1049 commented on #69
@ajisulist same be behavior as native img. you can build a lot of stuff on the error and retry, but at the same time, it increases the complexity of this simple and small lib.

[2019-07-22 18:01] pkellner opened #70 "Wanting to turn off all class insertions"
I would like to be able to turn off any styling that is added by react-simple-img.  That is, I just want lazy loading, no animations, no class insertions. Maybe just visible on and off, but I'd prefer to even have that as an option.

[2019-07-22 21:39] bluebill1049 commented on #70
can you add `imgStyle`: { transition: '0s' }? if you don't want animation, curious to know the reason too.

[2019-07-22 22:05] pkellner commented on #70
First, my appologies for not submitting a nice bug report. I'm bad at CSS and the complex CSS I have is no longer supported so my changes are painful. My hope was to just replace my img tags with your SimpleImg tag. It did work well on my speakers and sessions but not so much on sponsors. When I inspect the html and compare it pre and post SimpleImg, there is a div added that I think is hurting my

[2019-07-22 23:29] bluebill1049 commented on #70
i see @pkellner can you try to use `placeholder={false}` in SimpleImfg, see if that solve your layout issue.

[2019-07-22 23:49] pkellner commented on #70
That worked!  Thanks. I had tried it before, but I read that placeholder is a string so I passed it as `placeholder={"false"}` and I'm pretty sure that did not help me.  I use TypeScript and I don't there there is a type file that would have helped me.  Again, something I wish I knew more about.

Thanks again for the help, your contributions, and this awesome project.

[2019-07-22 23:54] bluebill1049 commented on #70
that's great to hear! thank you :) close the issue when you ready 👍

[2019-07-23 00:03] #70 closed

[2019-07-23 04:17] bluebill1049 commented on #69
going to close this issue, feel free to reopen if you have more questions.

[2019-07-23 07:35] alfred-pb commented on #69
As @ajisulist  mentioned, the user might failed to load the image or the image doesn't exist yet in database. I think that adding an onError prop will be nice, instead of creating a function to validate the image URL.

Is just allowing <SimpleImg> to receive the attribute ```onerror``` . That attribute is already built in the ```img``` tag so I don't think that is adding complexity to the lib. Don

[2019-07-31 07:18] davidcetinkaya opened #71 "Add browser support to README"
**Is your feature request related to a problem? Please describe.**
I can see that the library is using the Intersection Observer API. Does that mean that browser support is equivalent to browsers that support Intersection Observer? Or do you use a polyfill?

**Describe the solution you'd like**
Add browser support list to README. This would allow developers browsing this library to instantly see w

[2019-07-31 07:27] bluebill1049 commented on #71
hey @davidcetinkaya

it's already listed in the feature:

Simple usage and tiny size includes polyfill (minified + gzipped)

[2019-07-31 07:29] davidcetinkaya commented on #71
Maybe I'm missing something very obvious 🙈, but where do you read that?

[2019-07-31 07:30] bluebill1049 commented on #71
feature list.

[2019-07-31 07:31] bluebill1049 commented on #71
Speed up initial page loads by loading only images above the fold
Responsive with placeholders and animations
Support Priority Hints with importance attribute
Smart download logic using IntersectionObserver
Simple usage and tiny size includes polyfill (minified + gzipped)

[2019-07-31 07:34] davidcetinkaya commented on #71
Thanks for clarifying 🙂. Sorry, now I see 👍. Although I think something like this would help:

<img width="972" alt="2" src="https://user-images.githubusercontent.com/11529148/62192723-6d227b80-b376-11e9-8b63-dbac0f021e53.png">

[2019-07-31 07:58] bluebill1049 commented on #71
This package support majority of the browsers include ie11. But feel free to submit a PR to clarify this.

[2019-07-31 12:01] davidcetinkaya commented on #71
Thank you. I have to try the library first in order to determine browser support and submit a PR.

[2019-07-31 12:02] bluebill1049 commented on #71
that would be lovely! thanks

[2019-08-04 14:35] andreimc opened #72 "Using webp images with <picture> and multiple source sets?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to use react-simple image with webp as well: eg https://responsivedesign.is/articles/adding-webp-images-progressively/

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]

[2019-08-04 21:38] bluebill1049 commented on #71
going to close this issue for now, feel free to send a PR to correct that in the near future

[2019-08-04 21:38] #71 closed

[2019-08-05 02:46] bluebill1049 commented on #72
Good suggestion, but I will start to work on that when `img` src tag support `webp`. Otherwise, it's a massive change inside the codebase to adopt <picture /> element.

[2019-08-05 05:01] andreimc opened #73 "Typescript types generated ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would love to use this in typescript, but has no types!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Include types as part of the build

**Describe alternatives you've considered**
A

[2019-08-05 05:10] bluebill1049 commented on #73
I am using flowtype in the project, you interested to submit a PR for typescript?

[2019-08-06 03:58] bluebill1049 commented on #72
going to close this for now. until img src tag support webp

[2019-08-06 03:58] #72 closed

[2019-08-10 06:28] bluebill1049 commented on #73
feel free to submit PR for typescript

[2019-08-10 06:28] #73 closed

[2019-09-03 06:56] raine opened #79 "disableAnimationAfterCache does not exist in source code"
`disableAnimationAfterCache` option mentioned in the README does not exist in the source code.

How does it work?

[2019-09-03 06:59] raine commented on #79
Never mind, the actual variable name is just different. Sorry for the noise.

[2019-09-03 06:59] #79 closed

[2019-09-17 01:43] quochuy opened #80 "Height and width not accepting %"
**Describe the bug**
With 2.3.3 we used to be able to pass `height="100%"` but since height and width are now set as `number` this is now throwing a type error.

**To Reproduce**
`<SimpleImg
          src={src}
          height="100%"
          width="100%"
        />`

**Expected behavior**
Should allow us to use a string as well as number.

**Screenshots**
![Screen Shot 2019-09-17 at 11 43 10 am

[2019-09-17 02:15] #80 closed

[2019-09-17 02:16] bluebill1049 commented on #80
thanks the issue has been patched.

[2019-09-23 13:03] oquirozm commented on #57
@bluebill1049 this prop is super useful but I had to search through the issues to find it. Any chance it can be added to the documentation?

[2019-09-23 13:06] bluebill1049 commented on #57
sure @oquirozm u want to submit a PR to update readme?

[2019-09-23 13:09] oquirozm commented on #57
@bluebill1049 sure, will do in a bit

[2019-09-25 19:46] pkellner opened #81 "When Running Docker on LocalHost, Image Always Behind White Background"
This is really odd and I wish I had some obvious explanation (so I'm asking here in the hopes that it's some corner case needing fixing).

I create a very simple image tag with SimpleImg  as I'm showing below and what renders when I'm running docker locally is what is below that which shows no image because 1) it's hidden and 2) because it's hidden behind a white background.

Am I completely crazy

[2019-09-25 22:39] bluebill1049 commented on #81
you can remove the placeholder by setting `placeholder={false}` which is the `src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="` white background

[2019-09-27 22:43] bluebill1049 commented on #81
feel free to re-open if you have more questions

[2019-09-27 22:43] #81 closed

[2019-10-29 06:28] younes0 opened #84 "threshold doesn't take in account scrolling down"
Threshold should take in account, the lower part of the image which would the only visible part when scrolling from down.

Not sure how you could do this with one IntersectionObserver, you would need two with different roots maybe?

[2019-10-29 21:06] bluebill1049 commented on #84
react simple img is based on `IntersectionObserver` and I am not sure to introduce the additional features on top of it just yet.

[2019-10-30 09:30] younes0 commented on #84
I understand, but shouldn't be lazyLoading be effective on any scroll direction ?

[2019-10-30 09:31] bluebill1049 commented on #84
last time I tested it was working for me.

[2019-11-04 04:57] bluebill1049 commented on #84
gong to close this issue for now, unless someone wants to contribute

[2019-11-04 04:57] #84 closed

[2019-11-04 14:39] younes0 commented on #84
All right then.
I'm using react simple img inside a Carousel which is not the conventional way of using the library :)

[2019-11-22 17:17] ZLevine opened #85 "Invalid empty srcSet attribute in SSR"
**Describe the bug**
We're attempting to use this library with Gatsby. In SSR (server-side rendering), an empty `srcSet=""` attribute is rendered on the `<img` tag. This is bad because:

a) an empty `srcset` attribute is invalid, and
b) This may cause the browser to block rendering and attempt to load the `img` based on `srcset`, completely defeating the purpose of image-lazyloading.

Here's an ex

[2019-12-04 14:25] jhpmatos commented on #85
+1

[2019-12-04 20:10] bluebill1049 commented on #85
any chance you can create a PR for this? I am pretty busy with another OS project at the moment.

[2019-12-10 03:20] bluebill1049 commented on #85
you want to give a try this version: "version": "2.3.8-beta.1",

[2019-12-11 14:49] ZLevine commented on #85
My apologies, I thought GitHub would notify me of all comments since I created this issue—I only received the Close notification.

I tested that branch and it's not quite fixed; now, the full srcSet value is output in SSR. Instead, it should be omitted entirely in SSR.

Here's the result of that branch, broke out for clarity:

[code]

### What it's doing

A full `srcSet` attribute and value are be

[2019-12-11 15:34] ZLevine commented on #85
I submitted a PR with a fix. By setting the `srcSet` prop value to `null` if it's not cached, the prop is omitted in SSR HTML output but functions correctly in the client. `isCached` will always return false if it's not a browser since its state value is defaulted to `false` :)

[2019-12-11 20:11] bluebill1049 commented on #85
awesome thanks @ZLevine I will release the patch soon.

[2019-12-11 20:11] #85 closed

[2019-12-29 11:41] xxczaki opened #90 "Placeholder does not have `alt` attribute"
**Describe the bug**
When I test my site using [Lighthouse](https://developers.google.com/web/tools/lighthouse), either in the browser or using ex. [the web.dev platform](https://web.dev/measure/), I get a lower score in Accessibility, as well as SEO.

![](https://imgur.com/2s6FKkp.png)
![](https://imgur.com/eDFos3G.png)

When I click on `img` on the `Failing Elements` list, it shows the exact ele

[2019-12-29 11:44] bluebill1049 commented on #90
thanks @xxczaki for the issue report. want to submit a PR for this fix?

[2019-12-29 22:11] xxczaki commented on #90
@bluebill1049 Sure, here is the fix: #91 :smile:

[2019-12-29 22:34] #90 closed

[2020-01-04 07:32] khanbaba opened #92 "not showing img after re-rendering component"
I have a product card with an image and two button for like and watch,
when i click these buttons the state of component changes,
this change calls render function and after that the loaded images are not visible.
whats is the problem ?

here is the code in that card for image lazy loading:
[code]

[2020-01-04 08:57] khanbaba commented on #92
the problem was because of bootstrap which set 'visiblity: hidden' for img.

[2020-01-04 08:58] #92 closed

[2020-03-09 15:46] juanpablocs commented on #52
please update codesandbox link, error 404.

i have same problem of image...

does not update the image when i change the props from my component

[2020-04-22 14:19] mousedown opened #95 "Images loaded over network twice with cache disabled"
**Describe the bug**
Images appear to be loaded over the network twice when you disable cache (via chrome dev tools). once via fetch and another via the loader.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://react-simple-img.herokuapp.com/
2. Disable Cache
3. Scroll down to reveal images
4. Inspect Network tab

**Expected behavior**
Images should only be downloaded once

**Scr

[2020-04-22 14:29] mousedown commented on #69
I agree , this would be great without having to wrap around another component.

[2020-04-23 22:56] bluebill1049 commented on #95
hey @mousedown any chance you can look into this at the code level, i am pretty busy with another project at the moment, i will take me sometimes to come back to this.

[2020-04-23 22:58] bluebill1049 commented on #69
hmmm I think it's such easy piece of logic to do at your app level.

[code]

[2020-04-23 23:01] mousedown commented on #95
Sure! I will do one day, but I am also flat out with a project. I see this as an optimisation and way down on my list.

[2020-04-23 23:07] bluebill1049 commented on #95
awesome thanks mate.

[2020-05-05 01:23] pkellner opened #96 "When Component Re-Renders with new src tag, image does not change."
I have the following component that I know the src is changing because if I swap <SimpleImg for <img the image changes as I would expect.  It appears react-simple-img is caching the image the first time it was loaded.

[code]

[2020-05-05 01:31] bluebill1049 commented on #96
I would switch to normal `<img />` tag when src is changing, currently, this lib doesn't support src changing. (I don't think i have time to include this new feature either :(

[2020-05-05 01:40] pkellner commented on #96
Thanks @bluebill1049 I don't really understand the issue, but I do notice that data-src changes, just not src. Does that make sense why it is happening? (I love how it works otherwise)

[2020-05-14 08:01] vunguyentuan commented on #96
@pkellner you can pass a key to trigger re-render

[2020-05-16 18:04] #96 closed

[2020-07-23 22:44] jhodges10 commented on #95
I've seen this happen before with another image library, I think the bug is upstream somewhere.

[2020-10-22 03:24] Alfrex92 commented on #64
The first time that the page loads? or when the full page(App component) renders?

[2020-10-26 11:25] elrumordelaluz opened #104 "TypeError: placeholder.indexOf is not a function"
**Describe the bug**
Declaring a `placeholder` using `require` gives the error shown in the title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this sandbox](https://codesandbox.io/s/wonderful-star-cc4os?file=/src/App.js:236-279)
2. Look that declaring `require('./images/cover.svg')` throws an error.
3. Commenting this line shows that this doesn't happen with the `src` prop

**Expe

[2020-10-28 10:02] bluebill1049 commented on #104
I don't think we support `reqiure` import.

[2020-10-28 12:24] elrumordelaluz commented on #104
Thank you @bluebill1049, however for some reason works perfect for me (also in `react@17`), before update `react-scripts`.

[2020-10-28 12:33] elrumordelaluz commented on #104
Ok, I solved this way

[code]

Don't know where is the root of the problem, probably _bundler_ side. Will continue to investigate however.

[2020-10-28 12:33] #104 closed

[2020-10-28 22:23] bluebill1049 commented on #104
interesting... I suspect it returns a string now.

[2020-10-29 06:50] elrumordelaluz commented on #104
yes, also before returns a `string` but for some reason without needed the `.default`.

[2022-05-30 12:55] #95 closed

[2022-05-30 12:55] #69 closed